
<div id="header"></div>

<div id="container">
    <div id="ingredients">
  		<div>
            <label for="ingredient"> Select an ingredient:</label>
            <input type="text" id="ingredient" />
            <button id="add" type="button">Add+</button>
        </div>
        <button id ="getRecipes" type="button">Recipes!</button>
            <ul>

            </ul>
    </div>
    <div id="recipes">
        <ol class="recipes">
        </ol>


    </div>
    <div id="exercises">
        <ol class="exercises">
        </ol>

    </div>
</div>

<div id="footer"></div>