<html>
  <head>
  </head>
  <body>
<div id="header">
      <h1><pre><b>    REINEX</b></pre></h1>
</div>

<div id="container">
    <div id="ingredients">
        <h1>Ingredients</h1>
          <div class="doorframe">
            <div class="door"></div>
            <div class="behind-door">
                <div id="the-basics">
                    <input id="one-ingredient" class="typeahead" type="text" placeholder="Enter your ingredient...">
                </div>
                <button id="add" type="button">Add+</button>

              <ul></ul>
            </div>
        </div>
        <button class="Button">Open</button>

      </div>
    <div id="recipes">
                <h1>Recipes</h1>

      <ol class="recipes-list">
      </ol>
    </div>

  <div id="exercises">
                    <h1>Exercises</h1>

      <ol class="exercises-list">
      </ol>
  </div>

</div>

<div id="footer">
</div>
</body>
</html>