
<div id="header"></div>

<div id="container">
    <div id="ingredients">

        <div class="doorframe">
            <div>
                <div id="the-basics">
                    <input id="one-ingredient" class="typeahead" type="text" placeholder="Enter your ingredient...">
                </div>
                <button id="add" type="button">Add+</button>
            </div>
            <ul>
            </ul>
            <div class="door">
            </div>
        </div>
    </div>
    <div id="recipes">

      <ol class="recipes">
      </ol>
    </div>

  <div id="exercises">
      <ol class="exercises">
      </ol>
  </div>

</div>

<div id="footer">
</div>