
<div id="header"></div>

<div id="container">
    <div id="ingredients">
  			<div>
                    <label for="todo"> Select an ingredient:</label>
                    <input type="text" id="todo" />
                    <button id ="add" type="button">Add+</button>
                </div>

<ul>


    </div>
    <div id="recipes">


    </div>
    <div id="exercises">

    </div>
</div>

<div id="footer"></div>