html, body {
    height: 100%;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
ul{
    list-style-type: none;
}
span{
    color: red;
}
#header {
    background-color: #A1DBB2;
    height: 10%;
}

#container {
    height: 80%;
    width: 100%;
      text-align: center;

}

#ingredients {
    background-color: #FEE5AD;
    height: 100%;
    width:  30%;
    float: left;
      text-align: center;

}
#recipes {
    background-color: #FACA66;
    height: 100%;
    width: 35%;
    float: left;
      text-align: center;

}
#exercises {
    background-color: #F7A541;
    height: 100%;
    width: 35%;
    float: right;
      text-align: center;

}

#footer {
    background-color: #F45D4C;
    height: 10%;
}


.doorframe {
    border: 1px solid #CCBED7;
    display: inline-block;
    position: relative;
}
.door {
position: absolute;
    z-index: 2;
    width: 125px;
    height: 400px;
    background-color: #ccc;
    border: 1px solid #444;
    -webkit-transform-origin: left;
    background-image: url("http://www.specsserver.com/CACHE/FRNAXKPLEBKJ.JPG?width=800&height=-1");
    background-position: center;
    background-size: 300px 450px;
    /*background-size: cover;*/
    background-repeat:no-repeat;
    z-index: 1;
}
#behind-door{
    left:0px;
    top:0px;
    position: absolute;
}
* {
   margin: 0;
   padding: 0;
}