span{
    color:red;
}
#header {
        background-color: #00FFFF;
        height: 60px;
        padding-top: 8px;
}
ul{
list-style-type:none;
}
#container {
    width:100%;
    height:400px;
}
#ingredients {
    width:33.333%;
    height:600px;
    float:left;
    background-color: white;
}
#recipes {
    width:33.333%;
    height:600px;
    float:left;
    background-color:yellow;
}
#exercises {
    width:33.333%;
    height:600px;
    float:left;
    background-color:pink;
}
#footer {
        background-color: #FFFFCC;
        color: #FFFFCC;
  		position: absolute;
  		bottom: 0;
  		width: 100%;
}